@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "ToDo Lists";
}

<h1>@Model.UserName's ToDo Lists</h1>

<table class="table">
    <tbody>
        @foreach (TDList item in ViewBag.UserTDLists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListTitle)
                </td>
                <td>
                    <a asp-action="EditToDoList" asp-route-id="@item.ListId">Edit Name</a> |
                    <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                    <a asp-action="DeleteToDoList" asp-route-id="@item.ListId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to Home</a>
